<footer class="portfolio-footer">
    <div class="footer-content">
      <p>&copy; 2025 Roshita Battula. All rights reserved.</p>
      <div class="footer-links">
        <a href="https://www.linkedin.com/in/roshitabattula" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:roshita5k3@example.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="tel:+919999999999">
            <i class="fas fa-phone"></i> +91 8790463239
          </a>
      </div>
    </div>
  </footer>
  
